.table{
  width: 100%;
  margin-top: 90px;
  margin-left: 300px;
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
}
.Heading{
  display: flex;
  align-items:center;
  padding: 20px;
}
/* .cars{
  margin-right: 40px;
} */
/* button{
  background-color:rgb(0, 0, 134);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
button:hover{
  background-color:  rgb(81, 165, 255);
  color: black;
} */
/* a i{
  font-size: 20px;
  padding: 10px;
  color: green;
}
span{
  color: red;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
} */
table{
  border-collapse: collapse;
  margin-left: 20px;
  table-layout: fixed;
  border: 1px solid #dddddd;
}
.table_section{
  overflow-x: auto;
}
thead th{
  font-size: 16px;
  padding: 20px 30px;
  background-color: #e2f0ff;
  color:  rgb(0, 0, 134);
  text-align: center;
}
th, td {
  border-bottom: 2px solid #dddddd;
  padding: 20px 30px;
  text-align: center;
}
table a{
  text-decoration: none;
  color: black;
}
tr:hover td{
  background-color: #e2f0ff;
}
.add{
  margin-top: 90px;
}
.add a{
  text-decoration: none;
  background-color: rgb(4, 4, 97);
  color: white;
  padding: 20px;
}
img{
  max-width: 130px;
  width: 100%;
  max-height: 130px;
  height: 100%;
  border-radius: 5px;
  border: 2px solid gray;
}
.content
{
  margin-left: 250px;
  transition: 0.5s;
}
/* #checkbox:checked ~table{
  margin-left:-100px;
} */
::-webkit-scrollbar{
  height: 5px;
  width:4px;
}

