<app-navbar></app-navbar>
<div class="container">
  <div class="wrapper">
    <div class="title">Reset Password</div>
    <form [formGroup]="reset" (ngSubmit)="resetpass()">
      <div class="box"
        [ngClass]="{'invalid': reset.controls['password'].dirty && reset.controls['password'].invalid, 'valid': reset.controls['password'].dirty && reset.controls['password'].valid}">
        <i class="fas fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="New Password" formControlName="password"
          required>
        <small *ngIf="reset.controls['password'].dirty && reset.controls['password'].hasError('required')">Please enter
          your password</small>
        <small *ngIf="reset.controls['password'].dirty && reset.controls['password'].hasError('pattern')">Password must
          be strong</small>
      </div>
      <div class="box" [ngClass]="{
        'invalid': reset.controls['cpassword'].dirty && reset.controls['cpassword'].invalid,
        'valid': reset.controls['cpassword'].dirty && reset.controls['cpassword'].valid
      }">
        <i class="fas fa-lock"></i>
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm your Password"
          formControlName="cpassword" required>
        <small
          *ngIf="reset.controls['cpassword'].errors?.['required'] && (reset.controls['cpassword'].dirty || reset.controls['cpassword'].touched)">
          Please enter your password
        </small>
        <small
          *ngIf="reset.controls['cpassword'].invalid && !reset.controls['cpassword'].errors?.['required'] && reset.controls['cpassword'].dirty">
          Password does not match
        </small>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</div>
<app-footerpart></app-footerpart>
