.container{
  overflow-y: hidden;
}
.back{
 position: absolute;
 top: 15%;
 left: 20%;
  font-size: 25px;
  text-decoration: none;
  color: rgb(1, 1, 58);
}
.bookingDetails{
 display: flex;
 flex-wrap: wrap;
 gap:10px;
}
.title{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 100px;
 margin-left: 200px;
 font-size: 25px;
 color:  rgb(1, 1, 58);
}
.content-section
{
 max-width: 100%;
 width: 75%;
 margin-left: 170px;
}
.content-section img{
   max-width: 300px;
   width: 100%;
   max-height: 300px;
   height: 100%;
   padding: 20px;
}
.content{
 margin-left: 30px;
}
.card{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 background: #fcfcfc;
 border: 1px solid rgb(204, 204, 204);
 border-radius: 10px;
 padding: 10px;
 margin: 20px 0 50px 0px;
 margin-left: 100px;
 /* box-shadow: 5px 10px 18px #888888; */
 box-shadow:0 20px 30px rgba(0,0,0,0.3);
}
/* .content{
 display: flex;
} */
.card-info{
 display: flex;
 flex-wrap: wrap;
 gap: 70px;
 margin-top: 10px;
}
.user{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 gap: 10px;
}
.content h2 {
 margin-top: 15px;
}
.table{
 width: 100%;
 margin-top: 90px;
 margin-left: -15px;
 margin-right: 0;
 margin-bottom: 20px;
}
table{
 border-collapse: collapse;
 margin-left: 20px;
 table-layout: fixed;
}
.table_section{
 overflow-x: auto;
}
thead th{
 font-size: 16px;
 padding: 10px 60px;
 background-color: #e2f0ff;
 color:  rgb(0, 0, 134);
 text-align: center;
}
th, td {
 border: 2px solid #dddddd;
 padding: 10px 30px;
 text-align: center;
}
table a{
 text-decoration: none;
 color: black;
}
tr:hover td{
 background-color: #e2f0ff;
}

.card-footer button{
   font-weight:600;
   color:rgb(0, 0, 134);
   width: 200px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
   border-radius: 5px;
   border:solid 1px rgb(0, 0, 134);
   cursor: pointer;
   margin-left: 200%;
   padding: 5px;
   margin-top: 10px;
}
.card-footer button:hover{
 border:solid 1px rgb(0, 0, 134);
 background-color: #e2f0ff;;
}
::-webkit-scrollbar{
 height: 5px;
 width:4px;
}
@media(max-width:768px){
 .card-footer{
   display: flex;
   flex-wrap: wrap;
   gap:50px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 10px;
 }
 ::-webkit-scrollbar{
   height: 5px;
   width:4px;
 }
}

