<app-admin-navbar></app-admin-navbar>
<div class="container">
  <h2 class="title">
    order Details
  </h2>
  <div class="empty" *ngIf="bookings.length === 0">
    <img src="assets/images/orders/no-order.png" alt="no-order">
    <br>
    <p>No Expiry Bookings</p><br>
  </div>
  <div class="bookingDetails" *ngFor="let booking of bookings ">
  <div class="content-section">
    <div class="card">
      <div class="image">
      <img [src]="booking.carinfo.images" alt="Car Brand">
    </div>
     <div class="content">
      <h2>{{ booking.carinfo.carname }}</h2>
      <div class="card-info">
<div class="user">
  <span>Booking ID:&nbsp;{{booking.id}}</span>
        <span >Pickup date & time:&nbsp;{{booking.formDetails.pickupDate}}</span>
      <span >Drop-off date & time:&nbsp;{{booking.formDetails.dropoffDate}}</span>

  </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="status">Status: {{ booking.status }}</span><br><br>
    <button class="view"routerLink="/confirmpage/{{booking.id}}">View</button>
     </div>
</div>
</div>
  </div>
