<app-navbar></app-navbar>
<div class="container">
  <div class="wrapper">
    <div class="title">Forgot Password</div>
    <form [formGroup]="forgotpassword" (ngSubmit)="password()">
      <div class="box"[ngClass]="{
        'invalid': forgotpassword.controls['email'].dirty && forgotpassword.controls['email'].invalid,
        'valid': forgotpassword.controls['email'].dirty && forgotpassword.controls['email'].valid
      }">
        <i class="fa fa-envelope"></i>
        <input type="email" placeholder="Enter your registered email" id="email" name="email" formControlName="email">
        <small *ngIf="forgotpassword.controls['email'].dirty && forgotpassword.hasError('required','email')">Please Enter Your email</small>
        <small *ngIf="forgotpassword.controls['email'].errors?.['pattern']">Please check the email id</small>
      </div>
      <button type="submit">Verify</button>
    </form>
  </div>
</div>
<app-footerpart></app-footerpart>
<app-copyrights></app-copyrights>
