<footer>
  <div class="lastcontainer">
    <div class="sec aboutus">
      <h2>LETS GO</h2>
      <p>Lets Go car rental services is a online car rental system offers you to
        reserve and rent a car online for a certain period of time.This car rental services
        is to automate vehicle rental and reservation so that you don't
        have to waste time calling and waiting for a vehicle. To convert the
        manual car rental procedure into a digital method.</p>
        <ul class="links">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/home"><i class="fa-solid fa-caret-right"></i>&nbsp;Home</a></li>
        <li><a href="#"><i class="fa-solid fa-caret-right"></i>&nbsp;About us</a></li>
        <li><a href="/carsearch"><i class="fa-solid fa-caret-right"></i>&nbsp;Car Booking</a></li>
        <li><a href="#"><i class="fa-solid fa-caret-right"></i>&nbsp;contact us</a></li>
        <li><a href="#"><i class="fa-solid fa-caret-right"></i>&nbsp;Terms & conditions</a></li>
        <li><a href="#"><i class="fa-solid fa-caret-right"></i>&nbsp;privacy policy</a></li>
        <li><a href="#"><i class="fa-solid fa-caret-right"></i>&nbsp;refund policy</a></li>
      </ul>
    </div>
    <div class="sec contactus">
      <h2>Contact Us</h2>
      <ul class="info">

        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>1/123 XYZ street,<br>XYZ city,<br>
          Salem-637504,<br>Tamilnadu</p>
        </li>
        <!-- <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>1/123 XYZ street,<br>XYZ city,<br>
          chennai,<br>Tamilnadu</p>
        </li> -->

        <li>
          <p><a href="mailto:udrive@gmail.com"> <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;letsgrow@gmail.com</a></p>
        </li>
      </ul>
      </div>
      <div class="sec contactus">
        <h2>Reach Us</h2>
        <ul class="info">
          <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p><a href="tel:12345678900">+91-9876543210</a><br><a href="tel:12345678900">+91-9876543210</a></p>
          </li>
          <li>
            <span><i class="fa-solid fa-envelope"></i></span>
            <p><a href="mailto:udrive@gmail.com">letsgrow@gmail.com</a></p>
          </li>
        </ul>
        <!-- <ul class="links">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul> -->

  </div>
